*{margin:0;
    box-sizing: border-box;}

    body{
        direction: rtl;
        background-image: url(images/back.png);
        background-size: 100%;
        background-position: center;
        }
    

.register{ width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255,0.1);
   margin-right: 100px;
    margin-top: 0px;
    border-radius: 1%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

form{
    width:350px;

    margin-top: 25px;
}

input{
    width: 350px;
    height: 40px;
    margin-bottom: 30px;
    padding-right: 10px;
    outline: none;
    margin-top: 5px;
}
input:hover{
    border: #8EB44A solid 2px;
}

select{width: 350px;
    height: 40px;
    margin-bottom: 30px;
padding: 10px;
font-size: 15px;
outline: none;
color: teal;
font-weight: bold;}

select:hover{
    border: #8EB44A solid 2px;
}


    label{
        color: white;
        font-size: 20px;
       margin-right: 2px;
    }

#submit{
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: teal;
    margin-top: 5px;
}

#submit:hover{
    background-color: yellowgreen;
    color: white;
}

.im1{
    width: 40px;
    margin: 15px;
    margin-right: 1310px;
    margin-bottom: 0px;
    cursor: pointer;
}

.im1:hover{
    opacity: 70%;
}

@media screen and (max-width: 1100px) {
body{
    background-image: none;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #209290;}
    
.register{
    width: 1150px;
    height: 1400px;
    margin-top: 500px;
    margin-right: 130px;
    margin-bottom: 200px;
   
    justify-content: right;
}

input{
    width: 1000px;
    height: 150px;
    margin-bottom: 30px;
    padding-right: 10px;
    margin-right: 70px;
    outline: none;
    margin-top: 20px;
    font-size: 70px;
}

select{width: 1000px;
    height: 150px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 80px;
    margin-right: 70px;
}

#submit{
    height: 160px;
    font-size: 80px;}

    .form{
        width:1000px;
    
        margin-top: 25px;
    }

    label{
        color: white;
        font-size: 80px;
        margin-right: 70px;
    }

    .im1{
        width: 70px;

        margin: 25px;
        margin-right: 1310px;}
    
      }